<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>

		<h2>Upload Details</h2>

		<table>
			<tr>
				<td>Control Name:</td>
				<td>
					<span data-th-text="${controlName}"></span>
				</td>
			</tr>
			<tr>
				<td>File name:</td>
				<td>
					<span data-th-text="${fileName}"></span>
				</td>
			</tr>
			<tr>
				<td>Media type:</td>
				<td>
					<span data-th-text="${mediaType}"></span>
				</td>
			</tr>
			<tr>
				<td>Size:</td>
				<td>
					<span data-th-text="${size}"></span>
				</td>
			</tr>
		</table>
		
	</body>
</html>
